.bisai {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bstxt {
  width: 90%;
  height: 30%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: -20%;
  transition: all 1s ease-in-out;
  transition-delay: 0.5s;
  transform: translateX(2rem);
  filter: blur(0.1rem);
  opacity: 0;
  border-radius: 10%;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
}

.bstxt1 {
  display: inline-block;
  font-size: 0.55rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  background-clip: text;
  color: transparent;
}
.bstxt1 span {
  color: #fff;
  margin: 0.1rem;
}
.bstxt2 {
  display: inline-block;
  text-align: center;
  font-size: 0.45rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  background-clip: text;
  color: transparent;
}

.bstxt2 span {
  color: #fff;
  margin: 0.1rem;
}

.loader {
  width: 160px;
  height: 185px;
  position: absolute;
  background: #fff;
  border-radius: 100px 100px 10px 10px;
  bottom: 20%;
  transition: all 1s ease-in-out;
  transition-delay: 1s;
  opacity: 0;
  filter: blur(0.2rem);
}

.loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}

.loader:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle, #fff 48%, transparent 50%),
    radial-gradient(circle, #fff 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-30%);
  }
}

@keyframes earLift {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}
