.blu{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 2s ease-in;

}

.bg-slide,
.bg-slide .circle,
.bg-slide .circle img,
.circle-dark{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 2s ease;
    transition-delay: 1s;
}
.bg-slide .circle.bg img{
    object-fit: cover;
    transform: rotate(0) scale(2);
}

.txt1{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 35%;
    top: 10%;
    /* background-color: red; */
    z-index: 44;
}

.txt1-a{
    display: inline-block;
    font-size: .6rem;
    font-weight: 700;
    text-align: center;
    /* letter-spacing: .04rem; */
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background-clip: text;
    color: transparent;
    transform: translateY(1rem);
    filter: blur(.1rem);
    opacity: 0;
    transition: all 1s ease;
}

.txt1-b{
    display: inline-block;
    font-size: .5rem;
    font-weight: 700;
    /* letter-spacing: .04rem; */
    text-align: center;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-clip: text;
    color: transparent;
    transform: translateY(1rem);
    filter: blur(.1rem);
    opacity: 0;
    transition: all 1s ease;
}

.txt1-c{
    display: inline-block;
    font-size: .6rem;
    font-weight: 700;
    text-align: center;
    /* letter-spacing: .04rem; */
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-clip: text;
    color: transparent;
    transform: translateY(1rem);
    filter: blur(.1rem);
    opacity: 0;
    transition: all 1s ease;
}



.large,
.circle-dark{
    z-index: 2;
    clip-path: circle(50% at 50% 50%);
    transition: all 2.5s ease;
    transition-delay: .5s;
}

.small{
    z-index: 3;
    clip-path: circle(40% at 50% 50%);
    transition: all 2s ease ;
    transition-delay: .1s;
}

.circle-dark{
    background-color: rgba(0, 0, 0, .04);
}