.xinsheng{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/bbb.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1.5s ease-in-out;
}

.xshtxt{
    position: relative;
    width: 100%;
    height: 30%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s ease-in-out;
    transform: translateX(-1rem);
    filter: blur(.1rem);
    opacity: 0;
}

.xshtxt div{
    display: inline-block;
    font-size: .45rem;
    text-align: center;
    letter-spacing: .1rem;
    color: #fff;
    text-shadow: 1px 1px #eee,
                2px 2px #eee;

    font-weight: 700;
}

.xshtxt div:nth-child(2){
    font-size: .65rem;
}